extends layout

block content
 h1= title

 if (toShow == null)
    h2 No instance to update
 else
    - let handbagid = toShow._id
    - let bag_name = toShow.bag_name
    - let bag_color = toShow.bag_color
    - let bag_cost = toShow.bag_cost

 div.row(class='mb-2')
    div.mr-1 ID is
    div #{toShow._id}
    - let actionid = "/resource/handbags/" + handbagid
    form(id='HandbagForm', action= actionid, method="PUT")
        div.form-group
            label.handbagAttr(for='bag_name') Handbag Name
            input#bag_name(type='text', name='bag_name', value= toShow.bag_name )
        div.form-group
            label.handbagAttr(for='bag_color') Handbag Color
            input#bag_color(type='text', name='bag_color', value= toShow.bag_color )
        div.form-group
            label.handbagAttr(for='bag_cost') Handbag Cost
            input#bag_cost(type='number', name='bag_cost', value= toShow.bag_cost )
        input(type="submit")
 script.
    document.forms['HandbagForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
            }).catch((error) => {
        // TODO handle error
        alert("update failed " + error )
        });
    });